@font-face {
    font-family: JuliaMono;
    src: url("/assets/JuliaMono-RegularLatin.woff2") format("woff2");
    font-display: auto;
    font-weight: 400;
    unicode-range: U+00-7F; /* Basic Latin characters */
}
@font-face {
    font-family: JuliaMono;
    src: url("/assets/JuliaMono-BoldLatin.woff2") format("woff2");
    font-display: auto;
    font-weight: 700;
    unicode-range: U+00-7F; /* Basic Latin characters */
}
@font-face {
    font-family: JuliaMono;
    src: url("/assets/JuliaMono-Regular.woff2") format("woff2");
    font-display: auto;
    font-weight: 400;
}
@font-face {
    font-family: JuliaMono;
    src: url("/assets/JuliaMono-Bold.woff2") format("woff2");
    font-display: auto;
    font-weight: 700;
}

:root {
    font-family:JuliaMono, Courier New, monospace;
}
.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.header, .footer {
    text-align: center;
    /*padding: 50px 0;*/
    margin: 50px 20px;
}
.footer {
    font-size: 0.7em;
    margin-top: 70px;
}
.service-group {
    margin: 20px;
    margin-bottom: 40px;
}
.service-entry {
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    position: relative;
    margin: 20px 0;
}

.service-entry-history {
    margin-top: 20px;
    font-size: 0.8em;
}
.service-entry-history-row {
    margin-top: 5px;
}
.service-entry-history-days {
    display: flex;
}

.service-status-day {
    height: 20px;
    flex: 1 1 auto;
    margin: 0 1px;
    border-radius: 2px;
}
.service-entry-history .status-operational {
    background: green;
}
.service-entry-history .status-partial-outage {
    background: orange;
}
.service-entry-history .status-major-outage {
    background: red;
}
.service-entry-history .status-unknown {
    background: lightgrey;
}
.status-badge {
    float: right;
    font-weight: 700;
}
.status-badge.status-operational {
    color: green;
    fill: green;
}
.status-badge.status-partial-outage {
    color: orange;
    fill: orange;
}
.status-badge.status-major-outage {
    color: red;
    fill: red;
}
.status-badge.status-unknown {
    color: lightgrey;
    fill: lightgrey;
}
.status-badge svg {
    height: 1em;
    width: 1em;
    vertical-align: -.125em;
}

a {
    color: inherit;
}

/* Overload some stuff for small width screens */
@media (max-width: 600px) {
    .service-status-day {
        margin: 0 0.5px;
    }
    :root {
        font-size: 14px;
    }
    .header {
        margin-bottom: 20px;
    }
}

.service-entry input:checked ~ .service-entry-history {
    display: none;
}
label {
    cursor: pointer;
}
